.gamediv{
    margin-top: 5%;
    border: #000;
    border-style: double;
}

.infrow{
    box-sizing: border-box;
    height: 20%;
    background-color: aqua;
    margin: 0;
}

.holding{
    display: flex;
    align-items: flex-end;
}

.cardrow{
    box-sizing: border-box;
    height: 50%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: pink;
    margin: 0;

}

.card{
    height: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardtext{
    margin: 0;
}

.lock{
    display: flex;
    justify-content: center;
}


.controlrow{
    box-sizing: border-box;
    height: 30%;
    background-color: chocolate;
    margin: 0;
}

.submitbtn{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

