<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>5PK</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/edit.css') }}" type="text/css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div  class="ratio ratio-16x9 gamediv">
                <div class="cotainer">
                    <!--資訊區-->
                    <div class="row infrow">
                        <div class="col holding">您持有的牌:</div>
                        <div class="col row row-cols-2">
                            <div class="col">分數:</div>
                            <div class="col" id="score">0</div>
                        </div>
                    </div>
                    <!--卡片區-->
                    <div class="row cardrow row-cols-5 g-2 g-lg-3 " id="">
                        <div class="col">
                            <div class="card border bg-light" id="showcard1">1</div>
                            <div class="form-check lock">
                                <input class="form-check-input" type="checkbox" id="card1" value="card1">
                                <label class="form-check-label" for="card1">鎖定</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border bg-light" id="showcard2">2</div>
                            <div class="form-check lock">
                                <input class="form-check-input" type="checkbox" id="card2" value="card2">
                                <label class="form-check-label" for="card2">鎖定</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border bg-light" id="showcard3">3</div>
                            <div class="form-check lock">
                                <input class="form-check-input" type="checkbox" id="card3" value="card3">
                                <label class="form-check-label" for="card3">鎖定</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border bg-light" id="showcard4">4</div>
                            <div class="form-check lock">
                                <input class="form-check-input" type="checkbox" id="card4" value="card4">
                                <label class="form-check-label" for="card4">鎖定</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border bg-light" id="showcard5">5</div>
                            <div class="form-check lock">
                                <input class="form-check-input" type="checkbox" id="card5" value="card5">
                                <label class="form-check-label" for="card5">鎖定</label>
                            </div>
                        </div>
                    </div>
                    <!--操作區-->
                    <div class="row controlrow">
                        <div>
                            <button type="submit" class="btn btn-dark submitbtn" onclick="draw()">確定</button>
                        </div>
                        
                    </div>
                        
                </div>
            </div>
            
                

        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static',filename='js/scripts.js') }}"></script>
    </body>
</html>
